.about {
  margin: 0 0 6rem;
  min-height: auto;
  display: flex;
  flex-direction: column;

  .about__values-block,
  .about__team-block {
    margin: 5rem 0;
    height: 30rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: $large-breakpoint) {
      height: 100%;
      flex-direction: column;
    }

    .about__image {
      height: 30rem;
      width: 40%;
      object-fit: cover;
      object-position: 30% 50%;

      @media (max-width: $xl-breakpoint) {
        width: 35%;
      }

      @media (max-width: $large-breakpoint) {
        width: 100%;
      }
    }

    .about__content {
      padding: 0 3rem;
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background: $white-color;

      @media (max-width: $xl-breakpoint) {
        width: 65%;
      }

      @media (max-width: $large-breakpoint) {
        width: 100%;
      }

      @media (max-width: $mid-breakpoint) {
        padding: 0 1rem;
      }

      .about__title {
        padding: 7rem 0 1.5rem;
        font-size: $mid-font;
        font-weight: 700;

        @media (max-width: $xl-breakpoint) {
          padding: 5rem 0 1.5rem;
        }

        @media (max-width: $mid-breakpoint) {
          padding: 3rem 0 1rem;
          font-size: $small-font;
        }
      }

      .about__text {
        padding-bottom: 2rem;
        font-size: $small-font;
        line-height: 2;

        @media (max-width: $mid-breakpoint) {
          font-size: $xs-font;
        }
      }
    }
  }

  .about__values-block {
    .about__image {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;

      @media (max-width: $large-breakpoint) {
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0;
      }
    }

    .about__content {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;

      @media (max-width: $large-breakpoint) {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5rem;
      }
    }
  }

  .about__team-block {
    .about__image {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;

      @media (max-width: $large-breakpoint) {
        border-top-left-radius: 0.5rem;
        border-bottom-right-radius: 0;
      }
    }

    .about__content {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;

      @media (max-width: $large-breakpoint) {
        border-top-left-radius: 0;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
}

// .b1 {
//   background: blue;
// }

// .b2 {
//   background: purple;
// }
