.newsletter {
  min-height: auto;
  width: 100%;
  background: $lightgreen-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .newsletter__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .newsletter__headline {
      padding: 7rem 0 2.5rem;
      width: 21rem;
      font-family: $primary-font;
      font-size: $xl-font;
      line-height: 2;
      text-align: center;
      color: $blue-color;

      @media (max-width: $mid-breakpoint) {
        width: 14.5rem;
        font-size: $large-font;
        line-height: 1.8;
      }
    }

    .newsletter__subheading {
      padding: 2rem 0;
      font-size: $small-font;
      text-align: center;

      @media (max-width: $mid-breakpoint) {
        width: 19rem;
      }
    }

    .newsletter__form {
      padding-bottom: 3rem;
      width: 25rem;

      @media (max-width: $mid-breakpoint) {
        width: 19rem;
      }

      #floatingInputCustom {
        border-radius: 0.5rem;
        border: none;
      }
      .newsletter__button {
        width: 100%;
        height: 3.25rem;
        background: $blue-color !important;

        &:hover {
          background: $secondary-color !important;
        }
      }
    }
    .newsletter__disclaimer {
      margin-bottom: 5rem;
      padding: 1.6rem 1rem 0.4rem;
      width: 25rem;
      background: $lightgrey-color;
      border-radius: 0.5rem;

      @media (max-width: $mid-breakpoint) {
        width: 19rem;
      }

      .newsletter__disclaimer-text {
        font-size: $xs-font;
        line-height: 2;
      }
    }
  }
}
