.success {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .success__title {
    margin-top: 5rem;
    font-size: $xl-font;
    font-family: $primary-font;
    text-align: center;

    @media (max-width: $mid-breakpoint) {
      font-size: $mid-font;
    }
  }

  .success__icon {
    margin: 4rem 0 2rem;
    font-size: 10rem;
    color: $tertiary-color;

    @media (max-width: $mid-breakpoint) {
      margin: 3rem 0 2rem;
      font-size: 8rem;
    }
  }

  .success__text {
    margin: 1rem 0 5rem;

    @media (max-width: $mid-breakpoint) {
      margin: 1rem 0 2.5rem;
    }

    .success__link {
      text-decoration: underline !important;
      color: $black-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .success__button {
    margin-bottom: 10rem;
    width: 20rem;

    @media (max-width: $large-breakpoint) {
      margin-bottom: 5rem;
    }
  }
}
