// COLORS
$primary-color: #e05599;
$secondary-color: #5193f7;
$tertiary-color: #22d192;
$lightblue-color: #def2ff;
$blue-color: #90cbf1;
$darkblue-color: #0c63e4;
$lightpink-color: #fad9e7;
$pink-color: #ffb3cf;
$lightgreen-color: #e7f9f3;
$green-color: #cef5e0;
$darkgreen-color: #0aa80a;
$lightgrey-color: #f2f9ff;
$grey-color: #ced4da;
$darkgrey-color: #a3abbd;
$white-color: #fff;
$black-color: #262a33;

// TYPOGRAPHY
$primary-font: "Righteous", cursive;
$secondary-font: "Nunito Sans", sans-serif;

// FONT SIZES
$xl-font: 64px;
$large-font: 44px;
$mid-font: 32px;
$regular-font: 24px;
$small-font: 18px;
$xs-font: 15px;
$xxs-font: 12px;

// BREAKPOINTS
$xl-breakpoint: 1600px;
$large-breakpoint: 992px;
$mid-breakpoint: 768px;
$small-breakpoint: 576px;
